@import url(../../assets/fonts/georgia/Georgia.ttf);
@import url(../../assets/fonts/arial/arial.ttf);

body.noscroll {
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
    letter-spacing: 0.06em;
}

h1 {
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
}


h3 {
    font-size: 35px;
    color: #545454;
    letter-spacing: 0.05em;
}


h4 {
    font-size: 20px;
    line-height: 115%;
}

h5 {
    font-size: 15px;
    line-height: 110%;
}

p, a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

a.active {
    text-decoration: underline #F1CDB3 solid 3px;
    text-underline-offset: 5px;
}

@media (max-width: 740px) {
    h3 {
        font-size: 25px;
    }
}