@import url(../../assets/fonts/georgia/Georgia\ Regular\ font.ttf);

/* на интерактивных объектах курсор должен быть пальцем! */
body {
    display: grid;
}


body.noscroll {
    overflow: hidden;
} 

header, main {
    grid-row-start: 1;
    grid-column-start: 1;
}


h1, h2, h3, h4, h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
    letter-spacing: 0.06em;
}

h1 {
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
}

h2 {
    font-size: 44px;
    color: white;
    width: 310px;
    letter-spacing: normal;
}

h3 {
    font-size: 35px;
    color: #545454;
    letter-spacing: 0.05em;
}


h4 {
    font-size: 20px;
    line-height: 115%;
}

h5 {
    font-size: 15px;
    line-height: 110%;
}

p, a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
}


a {
    color: #CDCDCD;
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

a.active {
    text-decoration: underline solid #F1CDB3 3px;
    text-underline-offset: 5px;
    color: #FAFAFA;
}

main .container {
    padding-top: 80px;
    padding-bottom: 100px;
}


button {
    width: 207px;
    height: 52px;
    border-radius: 100px;
    background-color: #F1CDB3;
    border: 2px solid #F1CDB3;
    letter-spacing: 00.06em;
    font-size: 17px;
    line-height: 130%;
    color: #292929;
}

button:hover {
    background-color: #FDDCC4;
    cursor: pointer;
}

header {
    /*
    display: flex;
    width: 1200px;
    height: 60px;
    margin: 60px auto 0; 
    z-index: 2;
    justify-content: space-between;
    */
    width: 100%;
    z-index: 2;
    height: 120px;
}

.container {
    width: 100%;
}

.header-content {
    display: flex;
    max-width: 1200px;
    height: 60px;
    margin: 60px auto 0;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: grid;
    grid-gap: 10px;
}

.logo p {
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.burger-menu {
    display: none;
}

.popup-menu {
    display: none;
}

.popup-blocker-menu {
    display: none;
}

.popup-blocker-menu.active {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/*
@keyframes slidein {
    from {
        left: -320px;
    }
    to {
        left: 0;
    }
}

@keyframes slideout {
    from {
        left: 0;
    }
    to {
        left: -320px;
    }
} */

.popup-menu {
    animation-name: slideout;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.popup-menu.active {
    animation-name: slidein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    gap: 158px;
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: #292929;
    z-index: 2;
    /*overflow: scroll;*/
}

.popup-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 53px 0 10px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

.nav-menu.animate {
    animation-name: rotate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

.start.container {
    position: relative;
    padding: 0;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.start-content {
    max-width: 1200px;
    padding-top: 180px;
    margin: 0 auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    justify-content: center;
}

.start-info {
    display: grid;
    justify-content: center;
    grid-gap: 42px;
    width: 460px;
    height: 322px;
    padding-top: 163px;
}

.start-dog {
    max-width: 698px;
}

.start-info p {
    font-size: 15px;
    color: #CDCDCD;
    margin: 0;
}


.menu {
    display: flex;
    gap: 35px;
}

.about-content {
    display: flex;
    gap: 120px;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.about-content img {
    width: 300px;
    height: 408px;
}

.about-info {
    display: grid;
    grid-gap: 25px;
    width: 430px;
    padding: 14px 0 14px;
}

.make-friend, .know-rest-btn {
    width: 207px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #F1CDB3;
    border: 2px solid #F1CDB3;
    color: #292929;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 52px;
    letter-spacing: 0.06em;
    text-align: center;
}

.make-friend:hover {
    background-color: #FDDCC4;
}

.pets.container {
    background: #F6F6F6;
}

.pets-content {
    display: grid;
    grid-gap: 60px;
    justify-items: center;
    align-items: center;
}

.pets-content h3 {
    text-align: center;
}

.slider {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 53px;
}

.left-button, .right-button {
    width: 52px;
    height: 52px;
    background: rgba(0, 0, 0, 0);
    border-radius: 100px;
}

@keyframes slide {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}


.pet-cards-container {

    animation-duration: 5s;
    display: flex;
    gap: 90px;
}

.pet-card {
    display: none;
}

.pet-card.show {
    display: grid;
    justify-items: center;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
}

.pet-card p {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.look-btn {
    width: 187px;
    background: rgba(0, 0, 0, 0);
}

.know-rest-btn {
    width: 261px;
}

.card-popup-blocker {
    display: none;
}

.card-popup {
    display: none;
}

.card-popup-blocker.active {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-popup.active {
    display: block;
    position: fixed;
    --popup-width: 900px;
    --popup-height: 500px;
    width: var(--popup-width);
    height: var(--popup-height);
    background: #FAFAFA;
    border-radius: 9px;
    z-index: 2;
    top: calc(50% - var(--popup-height) / 2);
    left: calc(50% - var(--popup-width) / 2);
}

.card-popup-content {
    display: flex;
    gap: 29px;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.pet-popup-close {
    position: absolute;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    right: -52px;
    top: -52px;
    background: rgba(0, 0, 0, 0);
}

.pet-popup-close:hover {
    background-color: #F1CDB3;
    cursor: pointer;
}

.popup-pet-caption {
    max-width: 351px;
}

.help-content {
    display: grid;
    justify-items: center;
    grid-gap: 60px;
}

.help-content h3 {
    width: 308px;
    text-align: center;
}

.help-list {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 55px 119px;
    justify-content: center;
    max-width: 1200px;
}

.help-item {
    display: grid;
    grid-gap: 30px;
    justify-items: center;
}

.caption {
    text-align: center;
    white-space: pre;
}

.donation.container {
    box-sizing: border-box;
    background: #F6F6F6;
}

.donation-content {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.donation-dog {
    width: 505px;
    height: auto;
    padding: 11px 0 10px;
}

.donation-info {
    width: 380px;
    height: 282px;
    display: grid;
    grid-gap: 20px;
}

.donation-info p {
    font-size: 12px;
    color: #B2B2B2;
    line-height: 150%;
}

.bank-card {
    width: 349px;
    height: 43px;
    padding: 10px 15px;
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 15px;
    background: #F1CDB3;
    border-radius: 9px;
}

.bank-card h4 {
    letter-spacing: 0.20em;
    color: #545454;
}

footer {
    padding-top: 40px;
    box-sizing: border-box;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer-content {
    display: flex;
    gap: 160px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-contacts, .footer-location {
    margin: 16px 0 60px;
    display: grid;
    height: 234px;
    align-content: space-between;
}

.footer-contacts {
    width: 278px;
}

.footer-contacts h3, .footer-location h3 {
    color: #fff;
}

.footer-location {
    width: 302px;
    grid-gap: 34px;
}

.footer-dog {
    width: 300px;
    height: auto;
}

.contacts, .address {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-gap: 20px;
    color: #F1CDB3;
}

@media (max-width: 1230px) {

    .start-content {
        gap: 100px;
        padding-top: 150px;
    }

    .start-info {
        padding-top: 0;
    }

    .make-friend {
        justify-self: center;
    }

    .slider {
        gap: 12px;
    }

    .pet-cards-container {
        gap: 40px;
    }

    .footer-content {
        gap: 60px;
    }
}

@media (max-width: 1100px) {

    .header-content {
        margin-top: 30px;
    }

    .start-dog {
        width: 569px;
        height: 593px;
        margin-left: 15%;
    }

    .about-content {
        gap: 80px;
    }

    .about-info {
        padding: 0;
    }

    /*
    #pet03 {
        display: none;
    } */
    .help-list {
        gap: 55px 60px;
    }

    .help-item {
        width: 170px;
    }

    .donation-content {
        gap: 60px;
    }

    .footer {
        padding-top: 30px;
    }

    .footer-contacts, .footer-location {
        margin: 0;
    }
}

@media (max-width: 740px) {

    main .container {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .header-content {
        padding: 0 53px 0 10px;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
    }

    .burger-menu span {
        width: 30px;
        height: 2px;
        background-color: #F1CDB3;
    }

    .menu {
        display: none;
    }

    .menu.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu.show li a {
        font-size: 32px;
    }

    /*
    #pet02 {
        display: none;
    } */
    .about-content {
        gap: 42px;
    }

    .about-content img {
        width: 260px;
        height: 354px;
    }

    .bank-card {
        width: 281px;
    }

    .bank-card h4 {
        font-size: 15px;
    }

    .slider {
        grid-auto-flow: row;
    }

    .left-button, .right-button {
        grid-row-start: 2;
        grid-column-start: 1;
        margin-left: 43px;
        margin-right: 43px;
    }

    .right-button {
        justify-self: end;
    }

}

@media (max-width: 640px) {

    h2, h3, h5 {
        text-align: center;
    }

    h2, h3 {
        font-size: 25px;
    }

    h5 {
        line-height: 160%;
        letter-spacing: normal;
    }

    .start-content {
        gap: 105px;
    }

    .start-dog {
        width: 260px;
        height: 271px;
    }

    .start-info {
        width: 300px;
        height: 296px;
    }

    .start-info p {
        text-align: center;
    }

    .about-info {
        width: 270px;
    }

    .help-content {
        grid-gap: 42px;
    }

    .help-list {
        gap: 30px;
        width: 91%;
    }

    .help-item {
        width: 130px;
        grid-gap: 20px;
    }

    .help-icon {
        height: 50px;
        width: auto;
    }

    .caption {
        font-size: 15px;
        line-height: 110%;
    }

    .pets-content {
        gap: 42px;
    }

    .donation-dog {
        width: 260px;
        padding: 0;
    }

    .donation-info {
        justify-items: center;
        width: 300px;
    }

    .footer-content {
        gap: 40px;
    }

    .footer-contacts, .footer-location {
        justify-items: center;
        height: 215px;
    }

    .footer-dog {
        width: 260px;
    }
}

@media (max-width: 380px) {

    .help-list {
        justify-content: flex-start;
    }

    .donation-content {
        gap: 42px;
    }
}