@import url(../../assets/fonts/georgia/Georgia\ Regular\ font.ttf);


h1, h2, h3, h4, h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 0;    
}

h1 {
    font-size: 32px;
    line-height: 107%;
    letter-spacing: 0.06em;
}

h3 {
    font-size: 35px;
    color: #545454;
    letter-spacing: 0.05em;
}


h4 {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

h5 {
    font-size: 15px;
    line-height: 110%;
}

p, a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

button {
    border-color: #F1CDB3;
    border-style: solid;
    width: 187px;
    height: 52px;
    background: #FAFAFA;
    border-radius: 100px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

a.active {
    text-decoration: underline #F1CDB3 solid 3px;
    text-underline-offset: 5px;
}

header {
    display: flex;
    margin: 30px auto;
    height: 60px;
    max-width: 1200px; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: center;
    display: grid;
    grid-gap: 10px;
}



.logo p {
    font-size: 13px;
    letter-spacing: 0.1em;
}

.menu {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 35px;
}

a {
    color: #545454;
    text-decoration: none;
}

.pets-container {
    background: #F6F6F6;
    padding: 80px 40px 100px;
    display: grid;
    grid-gap: 45px;
    align-items: center;
    justify-items: center;
}

.pets-container h3 {
    width: 400px;
    text-align: center;
}

.cards-container {
    width: 1200px;
    height: 930px;
    box-sizing: border-box;
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 30px 40px;
}

.pet-card {
    width: 270px;
    height: 435px;
    display: grid;
    justify-items: center;
    background: #FAFAFA;
}

.look-btn {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.look-btn:hover {
    background-color: #F1CDB3;
}

.button-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}

.button-container button {
    width: 52px;
}

.button-container button.inactive {
    border-color: #CDCDCD;
}

.page-num {
    background: #F1CDB3;
}

footer {
    height: 350px;
    padding-top: 40px;
    box-sizing: border-box;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer-content {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 160px;
    justify-content: center;
    align-items: center;
}

.footer-contacts, .footer-location {
    margin: 16px 0 60px;
    display: grid;
    grid-gap: 40px;
    height: 234px;
}

.footer-contacts {
    width: 278px;
}

.footer-contacts h3, .footer-location h3 {
    color: #fff;
}

.footer-location {
    width: 302px;
    grid-gap: 34px;
}

.footer-dog {
    width: 300px;
    height: 310px;
}

.contacts, .address {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-gap: 20px;
    color: #F1CDB3;
}